nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start
  }

#list1
{ 
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}
#list2
{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}
#list3{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}
#list4{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: white;
  font-size: 50px;
}